@font-face {
  font-family: 'CloudBold';
  src: url('./static/font/Cloud-Sans-LightBold/Cloud-Bold.otf') format('truetype');
}
@font-face {
  font-family: 'CloudRegular';
  src: url('./static/font/Cloud-Sans-LightBold/Cloud-Light.otf') format('truetype');
}
@font-face {
  font-family: 'PoppinsBold';
  src: url('./static/font/Poppins/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'PoppinsRegular';
  src: url('./static/font/Poppins/Poppins-Regular.ttf') format('truetype');
}
*{
  box-sizing: border-box;
  font-family: 'PoppinsRegular', sans-serif;
}
:root{
  --background-color: #ecebf5;
  --background-header-text: #414141;
  --background-des-text: #525252;
  --primary-color: #306dca;
  --white-color: #ffffff;
  --card-balloon: #306eca32;
}
body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

a{
  text-decoration: none;
  list-style: none;
  color: var(--text-color);
}

.loading-bar{
  top: 55px;
  position: absolute;
  width: 100%;
}